:root {
    --lightModePrimary: #63A66A;
    --lightModeSecondary: #76C77E;

    --lightModeSplashPrimary: #639AA6;
    --lightModeSplashSecondary: #63A6A2;
    --lightModeSplashTertiary: #63A68E;
  }