body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'Alata';
    src: url('/fonts/Alata-Regular.ttf') format('woff2'),
        /* Modern Browsers */
        url('/fonts/Alata-Regular.ttf') format('woff2');
    /* Older Browsers */
    font-weight: normal;
    font-style: normal;
}

div {
    font-family: 'Alata', sans-serif;
}

:root {
    --lightModePrimary: #63A66A;
    --lightModeSecondary: #76C77E;
    --lightModeHighlight: #D0C777;

    --lightModeSplashPrimary: #639AA6;
    --lightModeSplashSecondary: #63A6A2;
    --lightModeSplashTertiary: #63A68E;


    --darkModePrimary: #1E1E1E;
    --darkModeSecondary: #2B2B2C;
    --darkModeHighlight: #C8651D;
    --darkModeHighlightSecondary: rgb(200, 101, 29, 0.25);

    --darkModeSplashPrimary: #E8E4E4;
    --darkModeSplashSecondary: #606061;
    --darkModeSplashTertiary: #222222;

    --lightText: #E8E4E4;
    --darkText: #171717;
    --darkGreenText: #2B452D;
    --darkBlueText: #385961;
}